*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
}

a{
    text-decoration: none !important;
}

li{
    list-style: none;
}


header{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

.nav{
    display: flex;
}
.logo{
    padding: 0 20px;
}

.login-content{
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.login-text{
    color:#ccc;
}
.name{
    color:#2E2E2E;
    font-weight: 800;
}
.logo-bg{
    background: #ccc;
}
.icon{
    background: #f6f6f6;
    width: 39px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
}
.login-text{
    display: flex;
    height: 50px;
    align-items: center;
}

/* header  nav */

.layout{
    display: flex;
}

.slde-nav{
    width: 10%;
    height: auto;
    padding: 0 .85em;
    /* height auto 로 무조건 변경 */
}
.content{
    width: 90%;
    height: auto;
    /* height auto 로 무조건 변경 */
    border-radius: 50px 0px 0px 0px;
    background: #f6f6f6;
}

.pd--10{
    padding-bottom: 10em;
}

.slde-nav{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.slde-nav li{
    padding: .85em;
    border-radius: 10px;
}
.slde-nav > ul > li > a{
    display: flex;
    align-items: center;
}
.icon-box{
    width: 25px;
    height: 25px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 1em;
}

.logout a{
    display: flex;
    align-items: center;
}
.logout span{
    font-size: .95em;
}
.icon-box.home{
    background: url(../img/icon/home_grey.png);
}

.icon-box.info{
    background: url(../img/icon/login_grey.png);
}
.icon-box.pr{
    background: url(../img/icon/product_grey.png);
}
.icon-box.ad{
    background: url(../img/icon/ad_grey.png);
}

.icon-box.lg-out{
    background: url(../img/icon/logout.png);
}

@media(max-width: 768px){
    .layout{
        flex-wrap: wrap;
    }
    .slde-nav{
        width: 100%;   
    }
    .slde-nav{
        flex-direction: row;
        align-items: center;
    }
    .slde-nav > ul{
        display: flex;
    }
    .slde-nav span{
        display: none;
    }
    .content{
        width: 100%;
        border-radius: 0px;
    }
    .title{
        width: 100%;
        text-align: center;
    }
    .container-box{
        width: 50%;
    }
}

/* index */
p{
    font-size: 15px;
}
.col-lg-12{
    padding: 0;
}
.title h4{
    font-size: 30px;
    padding-top: 1.7em;
    /* padding-left: 200px; */
    padding-bottom: 23px;
}
.title-box{
    width: 700px;
    margin: 0 auto;
}
.content-box{
    width: 700px;
    margin: 0 auto;
    background: #fff;
    border: 1px solid #EBEBEB;
    border-radius: 10px;
    padding: 55px 50px 50px;
}
.mail{
    padding-bottom: 10px;
    border-bottom: 1px solid #EBEBEB;
}
.mail p{
    padding-top: 0 !important;
}
.col-lg-12 p{
    color: #878787;
    margin-bottom: 13px;
    padding-top: 28px;
}
input{
    width: 100%;
    outline-style: none;
    border: none;
}
.mail input::placeholder {
    color: #2E2E2E;
}
.password{
    padding-bottom: 10px;
    border-bottom: 1px solid #EBEBEB;
}
.password input::placeholder{
    color: #B5B5B5;
}
.col-lg-6{
    margin: 0 !important;
}
.col-lg-6 p{
    color: #878787;
    margin-bottom: 13px;
    padding-top: 28px;
}
.col-lg-6 button{
    width: 133px;
    height: 34px;
    background: #fff;
}
.man{
    border: 1.5px solid #FF8200;
    color: #FF8200;
    border-radius: 5px;
    box-sizing: border-box;
    outline-style: none !important;
}
.man-btn{
    padding-right: 0 !important;
}
.man-btn, .girl-btn{
    padding-left: 0 !important;
    
}
.girl{
    border: 1.5px solid #B5B5B5;
    color: #B5B5B5;
    border-radius: 5px;
    box-sizing: border-box;
    outline-style: none !important;
}
.my-name{
    border-bottom: 1px solid #EBEBEB;
}
.my-name input::placeholder{
    color: #B5B5B5;
}
.call{
    border-bottom: 1px solid #EBEBEB;
    padding-bottom: 10px;
}
.call input::placeholder{
    color:#2E2E2E;
}
.mileage{
    border-bottom: 1px solid #EBEBEB;
}
.mil-box{
    display: flex;
    justify-content: space-between;
}
.p-box{
    padding-left: 15px;
}
.p-box p{
    padding: 0;
    margin-top: 5px;
    color: #2E2E2E;
}
.p-box p::after{
    content: " 포인트";
    color: #B5B5B5;
    margin-top: 5px;
}
.p-icon{
    width: 14.5px;
    height: 14px;
    margin-top: 10px;
    margin-right: 10px;
    background: url(../img/icon/milleage.png); 
}

.mil-btn button{
    width: 133px;
    height: 34px;
    background: #2E2E2E;
    color: #fff;
    border: none;
    border-radius: 5px;
}
.change-btn{
    width: 700px;
    margin-top: 50px;
    
}
.change{
    width: 200px;
    height: 58px;
    background: #FF8200;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 10px;
}

@media(max-width: 768px){
    .title h4{
        padding-left: 0 !important;
    }

    .title-box{
        width: 100%;
    }
    .category-box{
        width: 100% !important;
        padding: 8% !important;
    }
}

@media(max-width:411px){
    .title h4{
        font-size: 1.5em !important;
    }
    .girl-btn{
        padding-right: 1em !important;
    }
    .man-btn{
        padding-left: 1em !important;
    }
}


@media(max-width:375px){
    .call input::placeholder{
        color: #2E2E2E !important;
    }
    .content-box{
        padding: 8%;
    }
}

@media(max-width:360px){

    .content-box{
        width: 100% !important;
        padding: 6%;
    }
    p{
        font-size: 12px;
    }
    input{
        font-size: 12px;
    }
    textarea{
        font-size: 12px !important;
    }
    .col-lg-6 button{
        width: 133px;
        height: 34px;
        background: #fff;
        padding-left: 0 !important;
    }
}


@media(max-width:280px){
    .col-lg-6 button{
        width: 80px !important;
        height: 34px;
        background: #fff;
    }
    .man-btn{
        padding-left: 30% !important;
    }
    .girl-btn{
        padding-right: 30% !important;
    }
}


/* index */



/* index2 */
.apply-name{
    padding-bottom: 10px;
    border-bottom: 1px solid #EBEBEB;
}
.apply-name p{
    padding-top: 0;
}
.content-box input::placeholder{
    color: #B5B5B5;
}
.option{
    width: 100%;
}
.option-1{
    width: 283px;
    margin-right: 10px;
    padding-right: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #EBEBEB;
}
.col-lg-6{
    padding-right: 0;
}
.option-2{
    width: 283px;
    border-bottom: 1px solid #EBEBEB;
    padding-right: 0;
    padding-bottom: 10px;
    margin: 0 !important;
}
.col-lg-6 input{
    width: 100%;
}
.category{
    border-bottom: 1px solid #EBEBEB;
}
.category p{
    padding-top: 29px;
    margin-bottom: 3px;
}
.form-control{
    padding: 0;
    color: #B5B5B5 !important;
    border: none;
}
.form-control .op-2 {
    color: #2E2E2E !important;
}
.checkbox{
    width: 14px;
    height: 8px;
    background: url(../images/checkbox/checkbox.png) no-repeat;
    margin-top: 5px;
    margin-right: 10px;
}
.type{
    border-bottom: 1px solid #EBEBEB;
}
.type p{
    padding-top: 28px;
    margin-bottom: 3px;
}
.type-btn{
    width: 100%;
    background: #fff;
    border: none;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #EBEBEB;
    padding-top: 10px;
} 
.type-btn p{
    color: #B5B5B5;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 10px;
}
.p-2{
    padding: 0 !important;
}

.file div p{
    padding-top: 0;
    margin-bottom: 0 !important;
    margin-top: 5px;
    color: #B5B5B5;
}
.file-btn{
    width: 74px;
    height: 32px;
    border: none;
    background: #ebf4ff;
    color: #4C9EFF;
    font-size: 13px;
}
.file .d-flex{
    padding-bottom: 5px;
    border-bottom: 1px solid #EBEBEB;
}
.file-icon p{
    color: #878787 !important;
}
.file-icon p img{
    margin-bottom: 2px;
    margin-right: 7px;
}
.text-box p{
    padding-top: 28px;
}
.information{
    width: 100%;
    height: 131px;
    border: 1px solid #EBEBEB;
    padding: 16px 21px;
    color: #B5B5B5;
}
.clear-btn{
    width: 420px;
    height: 58px;
    margin: 0 auto;
    margin-top: 30px;
}
.clear-btn div button{
    width: 200px;
    height: 100%;
    border-radius: 5px;
}
.pre{
    background: #B5B5B5 !important;
    color: #fff;
    border: none;
}
.clear{
    background: #FF8200 !important;
    border:none;
    color: #fff;
}
.pd--3{
    padding-bottom: 3%;
}
textarea{
    resize: none;
    font-size: 15px;
}

@media(max-width:540px){
    .content-box{
        width: 100%;
    }
    .title h4{
        width: 100%;
        font-size: 30px;
        padding-left: 0;
        padding-bottom: 23px;
    } 
    .change-btn{
        width: 100%;
        margin-top: 50px;
        
    }
    .clear-btn{
        width: 100%;
    }
    .clear-btn div button{
        width: 80%;
        height: 40px;
    }
    .clear-btn div{
        padding: 0 !important;
    }
}



@media(max-width:375px){
    .content-box{
        width: 100%;
    }
    .title h4{
        width: 100%;
        font-size: 30px;
        padding-left: 0;
        padding-bottom: 23px;
    } 
    .change-btn{
        width: 100%;
        margin-top: 50px;
        
    }
    .clear-btn{
        width: 100%;
    }
    .clear-btn div button{
        width: 90%;
    }
}



/* index2 */



/* index4 */
.category-box{
    width: 700px;
    padding: 28px 50px 41px;
    border: 1px solid #EBEBEB;
    margin: 0 auto;
    border-radius: 10px;
}
.plus{
    padding-top: 2.5em !important;
}
.plus-btn{
    width: 162px;
    height: 45px;
    border: 1.5px solid #FF8200;
    border-radius: 5px;
    background:#fff;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.plus-btn p{
    padding: 0;
    margin: 0;
}
.cat-num{
    padding-left: 0 !important;
}
.cat-name p{
    padding-left: 27px !important;
    color: #2E2E2E !important;
}
.cat-head .cat-name p{
    color: #878787 !important;
}
.cat-del{
    padding: 0 !important;
    padding-left: 20px !important;
    cursor: pointer;
}
.cat-head{
    border-bottom: 1px solid #EBEBEB;
}
@media(max-width: 768px){
    .plus{
        padding-top: 2em !important;
    }
}





@media(max-width:540px){
    p{
        font-size: 12px;
    }
    .title h4{
        font-size: 1.5em;
    }
    .plus-btn{
        width: 65%;
    }
    .container{
        width: 100% !important;
    }
}





@media(max-width:414px){
    .title h4{
        font-size: 1.5em !important;
    }
    .girl-btn{
        padding-right: 1em !important;
    }
    .man-btn{
        padding-left: 1em !important;
    }
    .clear-btn{
        width: 100%;
    }
    .clear-btn div button{
        width: 90%;
    }
    .plus-btn{
        font-size: 12px;
        width: 30%;
    }
    .plus-btn p{
        display: none;
    }
    .d-flex.justify-content-between.title-box{
        justify-content: space-between;
    }
}


@media(max-width:375px){
    .title h4{
        font-size: 1.3em !important;
    }
    .plus-btn{
        font-size: 12px;
        width: 30%;
    }

    .call input::placeholder{
        color: #2E2E2E !important;
    }
    .content-box{
        padding: 8%;
    }
}

@media(max-width:360px){

    .content-box{
        width: 100% !important;
        padding: 6%;
    }
    p{
        font-size: 12px;
    }
    input{
        font-size: 12px;
    }
    textarea{
        font-size: 12px !important;
    }
    .col-lg-6 button{
        width: 133px;
        height: 34px;
        background: #fff;
        padding-left: 0 !important;
    }
}
/* index4 */